<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span class="text-center"><h1>My Orders</h1></span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <span class="text-center"><h4>Orders</h4></span>
        </div>
        <div class="col-md-2">
            <span class="text-center"><h4>Order Id</h4></span>
        </div>
        <div class="col-md-2">
            <span class="text-center"><h4>Price</h4></span>
        </div>
        <div class="col-md-2">
            <span class="text-center"><h4>Order Status</h4></span>
        </div>
        <div class="col-md-2">
            <span class="text-center"><h4>Action</h4></span>
        </div>
    </div>
    <hr />
    <div class="row mt-2">
        <div class="col-md-2 text-center">
            <img src="../../assets/Default Images/myorders.png" alt="My Orders" weight="100" height="100" />
        </div>
        <div class="col-md-2 text-center">
            <span>#100</span>
        </div>
        <div class="col-md-2 text-center">
            <span>₹ 21000</span>
        </div>
        <div class="col-md-2 text-center">
            <span>In Process</span>
        </div>
        <div class="col-md-2">
            <button class="form-control btn btn-outline-primary">Cancel Order</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-2 text-center">
            <img src="../../assets/Default Images/myorders.png" alt="My Orders" weight="100" height="100" />
        </div>
        <div class="col-md-2 text-center">
            <span>#200</span>
        </div>
        <div class="col-md-2 text-center">
            <span>₹ 31000</span>
        </div>
        <div class="col-md-2 text-center">
            <span>Ordered</span>
        </div>
        <div class="col-md-2">
            <button class="form-control btn btn-outline-primary">Cancel Order</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-2 text-center">
            <img src="../../assets/Default Images/myorders.png" alt="My Orders" weight="100" height="100" />
        </div>
        <div class="col-md-2 text-center">
            <span>#300</span>
        </div>
        <div class="col-md-2 text-center">
            <span>₹ 25000</span>
        </div>
        <div class="col-md-2 text-center">
            <span>In Transit</span>
        </div>
        <div class="col-md-2">
            <button class="form-control btn btn-outline-primary">Cancel Order</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-2 text-center">
            <img src="../../assets/Default Images/myorders.png" alt="My Orders" weight="100" height="100" />
        </div>
        <div class="col-md-2 text-center">
            <span>#400</span>
        </div>
        <div class="col-md-2 text-center">
            <span>₹ 41000</span>
        </div>
        <div class="col-md-2 text-center">
            <span>Order Placed</span>
        </div>
        <div class="col-md-2">
            <button class="form-control btn btn-outline-primary">Cancel Order</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-2 text-center">
            <img src="../../assets/Default Images/myorders.png" alt="My Orders" weight="100" height="100" />
        </div>
        <div class="col-md-2 text-center">
            <span>#500</span>
        </div>
        <div class="col-md-2 text-center">
            <span>₹ 33000</span>
        </div>
        <div class="col-md-2 text-center">
            <span>Delivered</span>
        </div>
        <div class="col-md-2">
            <button class="form-control btn btn-outline-primary">Cancel Order</button>
        </div>
    </div>
</div>
